body {
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: center;
}

#rock, #paper, #scissors {
    background-color: black;
    padding: 20px;
}

.btndiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 256px;
    height: auto;
    width: auto;
    gap: 20px;
}

.btntxt {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

