html, body {
    height: 92%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.score {
    margin: 48px 0px -8px;
}

table, .comment{
    color: white;
}

table, th, thead {
    border-collapse: collapse;
    border: 3px solid white;
    padding: 20px 80px;
}

.buttons {
    display: flex;
    justify-content: center;
}

#rock, #paper, #scissors {
    background-color: black;
    padding: 20px;
}

.btndiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 256px;
    height: 100%;
    width: auto;
    gap: 20px;
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btntxt {
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.comment, .result span {
    font-family: sans-serif;
    font-weight: 600;
}

.comment {
    font-size: large;
    display: block;
    height: 22px;
}

.result {
    display: none;
}

.resulttxt {
    color: white;
    font-size: xx-large;
    letter-spacing: 16px;
    word-spacing: 5px;
}